<div id="map_table">
  <div #map style="height:400px;width:400px"></div>
  <div id="marker_table_wrapper">
    <div id="marker_table_scroll">
      <table border="1">
        <thead>
        <tr>
          <th>Marker Type</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
        </thead>
        <tbody id="marker_table_body">

        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <button (click)="showMarkers();" style="color:green;">Show Markers</button>
  <button (click)="clearMarkers();" style="color:orange;">Hide Markers</button>
  <button (click)="deleteMarkers();" style="color:red;">Delete Markers</button>
</div>
<div style="margin:5px;display:block;">
  Add marker on ISS building
  <button onclick="addMarker(1.292304, 103.777308, 'iss_test')">Add ISS marker</button>

</div>
<div style="margin:5px;display:block;">
  Add marker on specific latitude and longitude
  Lat: <input type="number" id="input_lat" value="1.292304"/> Lng: <input type="number" id="input_lng" value="103.777308"/>
  <button (click)="addMarker(parseFloat(document.getElementById('input_lat').value), parseFloat(document.getElementById('input_lng').value), 'distribution_center')">Add Distribution Center</button>
  <button (click)="addMarker(parseFloat(document.getElementById('input_lat').value), parseFloat(document.getElementById('input_lng').value), 'polyclinic')">Add Polyclinic Center</button>
</div>

<div style="margin:5px;display:block;">
  Insert markers from CSV file
  <input type="file" id="csvfile" />
  <input type="button" id="viewfile" value="Import from CSV" (click)="importFile()" />
</div>

